{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "paths": ["@app/", "@tests/"],
        "extensions": [".js", ".ts", ".tsx", ".jsx"]
      },
      "alias": {
        "map": [
          ["@app", "./app"],
          ["@tests", "./tests"]
        ],
        "extensions": [".ts", ".js", ".tsx", ".jsx"]
      }
    },
    "import/ignore": ["node_modules", "\\.(coffee|scss|css|less|hbs|html)$"]
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "testing-library",
    "prettier"
  ],
  "extends": [
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "sonarjs/no-duplicate-string": "off"
      }
    },
    {
      "files": ["tailwind.config.ts"],
      "rules": {
        "sonarjs/no-duplicate-string": "off"
      }
    },
    {
      "files": ["*.cjs"],
      "rules": {
        "unicorn/no-empty-file": "off"
      }
    }
  ],
  "ignorePatterns": [
    "**/node_modules/**",
    "**/dist/**",
    "**/cypress/**",
    "README.md",
    "next.config.js",
    "tailwind.config.js",
    "postcss.config.js"
  ],
  "rules": {
    "no-undef": "off",
    "prefer-const": "warn",
    "prettier/prettier": "warn",
    "eslint-comments/no-unused-disable": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-empty-function": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/no-unreadable-array-destructuring": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "kebabCase": true
        },
        "ignore": ["/^$/", "README.md$"]
      }
    ],
    "unicorn/no-null": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "ref": true,
          "props": true,
          "Props": true,
          "param": true,
          "params": true,
          "Param": true,
          "Params": true,
          "args": true,
          "env": true
        }
      }
    ],
    "import/no-cycle": "warn",
    "import/order": [
      "warn",
      {
        "newlines-between": "always"
      }
    ],
    "import/consistent-type-specifier-style": ["warn", "prefer-inline"],
    "react/prop-types": "off"
  }
}
