{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "paths": [
          "@",
          "@pages/",
          "@layouts/",
          "@sections/",
          "@components/",
          "@context/",
          "@hooks/",
          "@config/",
          "@api/",
          "@common/",
          "@utils/",
          "@assets/",
          "@styles/",
          "@types/",
          "@tests/"
        ],
        "extensions": [".js", ".ts", ".tsx", ".jsx"]
      },
      "alias": {
        "map": [
          ["~", "./src/"],
          ["@pages", "./src/pages"],
          ["@layouts", "./src/layouts"],
          ["@sections", "./src/sections"],
          ["@components", "./src/components"],
          ["@context", "./src/context"],
          ["@hooks", "./src/hooks"],
          ["@config", "./src/config"],
          ["@api", "./src/api"],
          ["@common", "./src/common"],
          ["@utils", "./src/utils"],
          ["@assets", "./src/assets"],
          ["@styles", "./src/styles"],
          ["@types", "./src/types"],
          ["@tests", "./tests"]
        ],
        "extensions": [".ts", ".js", ".tsx", ".jsx"]
      }
    },
    "import/ignore": ["node_modules", "\\.(coffee|scss|css|less|hbs|html)$"]
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "testing-library",
    "prettier"
  ],
  "extends": [
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "sonarjs/no-duplicate-string": "off"
      }
    }
  ],
  "ignorePatterns": [
    "**/node_modules/**",
    "**/dist/**",
    "**/cypress/**",
    "README.md",
    "next.config.js",
    "tailwind.config.js",
    "postcss.config.js"
  ],
  "rules": {
    "no-undef": "off",
    "prettier/prettier": "warn",
    "prefer-const": "warn",
    "eslint-comments/no-unused-disable": "error",
    "@typescript-eslint/no-unused-vars": "error",
    // empty functions are helpful for defining default values
    "@typescript-eslint/no-empty-function": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/no-unreadable-array-destructuring": "off",

    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "kebabCase": true
        },
        "ignore": ["/^$/", "README.md$"]
      }
    ],
    "unicorn/no-null": "off",
    "import/order": [
      "warn",
      {
        "newlines-between": "always"
      }
    ],
    "unicorn/prefer-spread": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "ref": true,
          "props": true,
          "Props": true,
          "param": true,
          "Param": true
        }
      }
    ],

    "react/prop-types": "off"
  }
}
