.audio-container {
  width: 28px;
  height: 28px;
  overflow: hidden;
  position: relative;
}

.bar {
  width: 4px;
  height: 28px;
  background: white;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.audio-container.play .bar {
  animation: up-down 2.5s linear infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(15px);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(10px);
  }

  40% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(15px);
  }

  60% {
    transform: translateY(30px);
  }

  70% {
    transform: translateY(20px);
  }

  80% {
    transform: translateY(15px);
  }

  90% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.bar-two {
  left: 8px;
}

.audio-container.play .bar-two {
  animation-delay: 0.6s;
}

.bar-three {
  left: 16px;
}

.audio-container.play .bar-three {
  animation-delay: 0.3s;
}

.bar-four {
  left: 24px;
}

.audio-container.play .bar-four {
  animation-delay: 0.9s;
}
