@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 !important;
  background-color: #212121;
  color: #fff;
}

.p-highlight {
  background-color: #9400d5 !important;
  color: #fff !important;
}
